body {
  font-family: sans-serif;
}

.error-message {
  font-size: 12px;
  margin-top: 8px;
}

.like-button {
  --default-color: #888;
  --active-color: #f00;
  --default-background-color: #fff;

  color: var(--default-color);
  border-style: solid;
  border-width: 2px;
  border-radius: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; /* justify-content: space-around; */
  height: 32px;
  padding: 4px 8px; 
}

.like-button--default {
  background-color: var(--default-background-color);
  border-color: var(--default-color);
  color: var(--default-color)
}

.like-button:hover {
  color: var(--active-color);
  border-color: var(--active-color);
}

.like-button--liked,
.like-button--liked:hover { 
  background-color: var(--active-color);
  border-color: var(--active-color);  
  color: var(--default-background-color);  

}


