body {
  font-family: sans-serif;
}

.digital-clock-wrapper {
  display: flex; /* flex item's width defaults to content width vs div's (block elem) width defaults to fill width of parent container */
  justify-content: center; /* centers clock */
  align-items: center; 
}

/* styling for overall digital clock display */
.digital-clock {
  --segment-width: 0.4rem; /*8px;*/
  --segment-size: 1.6rem; /*32px;*/
  --segment-color: #fff;

  background-color: #000;
  border: 3px solid #ccc;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 20px;
}

/* base styling for overall shape of top/bottom digit squares */
.digit-square {
  border-style: solid;
  border-color: transparent;
  border-width: var(--segment-width);
  box-sizing: border-box;
  height: var(--segment-size);
  width: var(--segment-size);
}

/* adjust width of top & bottom half squares' shared borders by 1/2 */
.digit-square-top {
  border-bottom-width: calc(var(--segment-width) / 2);
}

/* adjust width of top & bottom half squares' shared borders by 1/2 */
.digit-square-bottom {
  border-top-width: calc(var(--segment-width) / 2);
}

/* styling for diff segments of digits (fill color over transparent base)*/
.digit-square-border-top {
  border-top-color: var(--segment-color);
}

.digit-square-border-left {
  border-left-color: var(--segment-color);
}

.digit-square-border-right {
  border-right-color: var(--segment-color);
}

.digit-square-border-bottom {
  border-bottom-color: var(--segment-color);
}

.separator {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; /* this property may not be needed */
}

.separator-dot {
  background-color: var(--segment-color);
  height: var(--segment-width);
  width: var(--segment-width);
  border-radius: var(--segment-width); /* round circles */
}



