body {
  font-family: sans-serif;
}

/* wrapper not needed, allow new block formatting context via time-inner */
/* .stopwatch-wrapper {
  display: flex;
  align-items: center;
} */

.time {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  user-select: none;
  min-width: 13rem;
}

.time-inner {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.time-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stopwatch-button {
  width: 3.5rem;
}

.button-container {
  display: flex;
  gap: 16px;
}

.time-number {
  font-size: 62px;
}

.time-number--small {
  font-size: 36px;
}

.time-unit {
  font-size: 24px;
}

